.App {
  text-align: center;
  margin: 50px auto;
  border: 1px solid black;
  width: 500px;
  padding-top: 30px;
}
.input {
  width: 290px;
  margin-right: 20px;
}
.button {
  background-color: #ff8a9d;
}
.task {
  display: inline-block;
  margin-right: 40px;
}

